@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

header a{
	text-decoration: none;
	color: #ffffff;
}


header{
	min-width:810px; 
/* 	background-color: rgba(26,26,26,.95); */
	background: transparent;
	z-index: 99;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.sc_nav {
    border-bottom: 1px solid rgba(255,255,255,.1);
    height: 28px;
    position: relative;
    padding: 0 2rem;
/*     height: 0; */
/*     opacity: 0; */
/*     transition: height .2s, opacity .2s; */
}

/* .sc_nav { */
/*     opacity: 1; */
/*     transition: height .2s, opacity .2s; */
/*     border-bottom: 1px solid rgba(255,255,255,.1); */
/* } */

.sc_nav a{
	color: #939393;
	font-size: 12px;
	font-weight: 900;
}
	
.sc_nav, .m_nav{
/* 	border: 1px pink solid; */
	display:flex;
	background-color: rgba(26,26,26,.95);
	justify-content: space-between;
}

.m_gnb_area{
/* 	border: 1px red solid;	 */

}

.logo{
	font-size:24px;
	display: inline-block;
    padding: .5rem 2rem;
}

.sc_g_left, .sc_g_right, .m_gnb_list, .as_rng_list{
/*  border: 1px red solid;	 */
	display: flex;
	justify-content:space-around;
}

.m_gnb_list, .as_rng_list{
	padding: 1rem;
}


.sc_g_right>li{
	list-style:none;
	margin: 0 1rem;
}
.m_gnb_list>li, .as_rng_list>li {
	list-style:none;
	margin: 0 2rem;
}

.m_sub_gnb{
	display: none;
}
.m_sub_gnb>li{
	list-style: none;
	margin-top: .5rem;
}
.m_sub_gnb a{
	font-size: 10px;
}


.m_gnb_area:hover .m_sub_gnb {
	display: block;
}

.search_area, .quick_area{
	display: none;
}

as_rng_list i{
	vertical-align: bottom;
}
