<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="khr">

<select id="getPass" resultType="String">

	select pass from member where id=#{id}
</select>



<update id="updateMember" parameterType="map">
	update member 
	set name=#{name},pass=#{pass},addr=#{addr},tel=#{tel},email=#{email} 
	where id=#{id}

</update>

<delete id="deleteMember" parameterType="map">
	delete from member 
	where id=#{id}
</delete>


<select id="selectMember" resultType="map">
	select * from member where id=#{id}

</select>


<insert id="insertReserve" parameterType="map" > 
	insert into reservation (reserv_num,id,title,th_name,date,time) 
	values (2,#{id},#{title},#{th_name},#{date},#{time}) 
</insert>




</mapper>

